<div class="relative min-h-screen md:flex text-basic">
  <div class="flex flex-col w-64 h-screen px-4 py-8 bg-white border-r dark:bg-gray-800 dark:border-gray-600">
    <h2 class="text-xl font-semibold text-gray-800 dark:text-white">Transmission Admin</h2>

    <div class="flex flex-col justify-between flex-1 mt-6">
      <nav>
        <MenuItem
          @route="settings"
          @name="Settings"
          @icon="cog"
        />
      </nav>
    </div>
  </div>

  <div class="flex-1">
    {{outlet}}
  </div>
</div>
